@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Poppins;
  margin: 0;
}
a {
  color: #5334f5;
  text-decoration: none;
}

li {
  color: white;
}

.Hero {
  background: url('../images/wallpaper3.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 340px 50px;
  text-align: center;
}

.Hero h1 {
  margin: 0;
  margin-top: 50px;
  color: white;
  line-height: 1.2;
  font-size: 60px;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1;
  opacity: 0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px, 20px;
  }
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Cards h2 {
  margin: 0 20px 50px 20px;
  font-size: 40px;
  text-align: center;
  background: Linear-gradient(104deg, #050a27 0%, #4a54bc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 40px;
  margin: 50px 40px 100px;
}

@media (max-width: 1060px) {
  .CardGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.wrapper {
  position: absolute;
  top: 67%;
  left: 50%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  color: white;
  transform: translate(-50%, -50%);
}
span:before {
  content: 'Web developer';

  animation: animate infinite 8s;
}
@keyframes animate {
  0% {
    /* animation: HeroAnimations 2s; */
    /* content: 'Androd | IOS'; */
  }
  20% {
    content: 'Android App Developer';
  }
  40% {
    content: 'Photographer';
  }
  60% {
    content: 'Cinematographer';
  }
  80% {
    content: 'Freelancer';
  }
}
@keyframes HeroAnimations {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Linktonext {
  text-align: center;
}
.about_me {
  text-align: center;
}

.about_div {
  padding-bottom: 20px;
}

button {
  padding: 8px 20px;
  font-size: 20px;
  background-color: #060930;
  border: none;
  border-radius: 15px;
  font-weight: 400;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 1s;
}
button:hover {
  background-color: #333456;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.SocialIcon {
  padding-bottom: 20px;
}

.SocialIcon a {
  padding-right: 20px;
  transition: 1s;
}

.SocialIcon a:hover {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

@media (max-width: 380px) {
  .SocialIcon {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 280px) {
  .SocialIcon {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
  }
}
